
.gameTitle{
  width: 100%;
  color: rgb(35, 35, 225);
  margin: 3% 0px 10px 0px;
  font-family: "Silkscreen",sans-serif;
  font-size: 30px;
  text-align: center;
}

.pokeInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon{
  margin-top: 5%;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.pokeImage{
  width: 225px;
  height: 225px;
}

.guessBox{
  margin-top: 2%;
  width: 50%;
  height: 30px;
}

.guessButton{
  width: 25%;
  margin-top: 2%;
  border-style: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(197, 48, 48);
  height: 30px;
}


/*Classes para o background de cada tipo de pokemon*/
.grass{background-color: #77c850;}
.fire{background-color: #ee7f30;}
.water{background-color: #678fee;}
.bug{background-color: #a8b720;}
.poison{background-color: #a040a0;}
.normal{background-color: #a6a877;}
.ghost{background-color: #6e5896;}
.ice{background-color: #98d5d7;}
.electric{background-color: #f7cf2e;}
.rock{background-color: #b8a137;}
.ground{background-color: #dfbf69;}
.fighting{background-color: #bf3029;}
.psychic{background-color: #f65687;}
.dark{background-color: #725847;}
.steel{background-color: #b9b7cf;}
.fairy{background-color: #f9aec7;}
.dragon{background-color: #6f38f6;}
.flying{background-color: #a98ff0;}